body{
  font-family: "Inconsolata";
}

.wrapper{
  padding: 60px 0;
  
  font-size: 20px;
  text-align: center;
}
.wrapper .title{
  margin: 0;
  padding-bottom: 60px;
}
.wrapper p{
  text-align: left;
  padding-bottom: 20px;
}

.wrapper.header{
  padding: 20px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
}
.wrapper.main{
  background-color: #fff;
  color: #000;
}
.wrapper.work{
  background-color: #5d5365;
  color: #FFF;
}
.wrapper.skills{
  background-color: #f8f8f8;
  color: #000;
}
.wrapper.games{
  background-color: rgba(36, 91, 216, 0.65);
  color: #fff;
}


.technology .img{
  width: 200px;
  height: 200px;
  background-color: #eee;
}
.technology .title{
  padding: 20px 0;
}
.technology.html .img{
  background-image: url(../img/tech/html5.png);
}
.technology.php .img{
  background-color: #8892BF; 
  background-image: url(../img/tech/php.png);
}
.technology.js .img{
  background-image: url(../img/tech/javascript.png);
}
.technology.css .img{
  background-image: url(../img/tech/css.png);
}